@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #F3F3F3;
    --text-primary: #444444;
    --text-secondary: #EEE3C0;
    --accent-color-dark:#f3722c;
    --accent-color-light: #f8961e; 
    --secondary-bg-color: #37383D;
    --accent-1: #EA6704;
    --accent-2: #44B703;
    --accent-3: #FF1259;
    --main-border-bottom: solid 0.3px rgba(231, 225, 225, 0.765);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    font-size: 62.5%;
    position: relative;
}

/* GENERAL COMPONENTS */
h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: var(--accent-color-light);
}

h3{
    font-size:1.9rem;
    font-weight: 500;
    color: var(--text-primary);
}

h4{
    margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
}

h5{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-primary);
    font-weight: 400;
}

.skew{
    position: relative;
}

.skew::after{
    display: block;
    position: absolute;
    /* z-index: -2; */
    left: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    height: 100%;
    width: 100%;
    /* padding: 0 0.6rem; */
    opacity: 0.8;
    background-image: linear-gradient(to bottom right, var(--accent-color-light), var(--accent-color-dark));
    transform: skew(-15deg) scaleX(1.04);
}


section{
    padding:8rem 10rem;
    border-bottom: var(--main-border-bottom)
}

.btn{
    padding:0.8rem 1.5rem;
    border: 0;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: var(--accent-color-light);
    cursor: pointer;
}

.title-con{
    margin-left: 50%;
    margin-bottom: 4rem;
    width: 70%;
    transform: translateX(-50%);
}

/* OPEN ACCOUNT */
.modal{
    position: relative;
    background-color: var(--bg-color);
    width: 30%;
    position: fixed;
    z-index: 10;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    transition: all 0.5s;
}

.btn-close-modal{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    border: 0;
    cursor: pointer;
}

.form-heading{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 2rem;
    column-gap: 2rem;
    align-items: center;
}

form input{
    font-family: inherit;
    color: var(--text-primary);
    height: 2rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

form input:focus{
    outline: none;
}

label{
    font-size: 1rem;
}

.form-btn-con{
    margin-top: 3rem;
    text-align: center;
}

.btn-modal-next{
    cursor: pointer;
}

/* overlay */
.overlay{
    background-color: rgba(0, 0, 0, 0.687);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    backdrop-filter: blur(3px);
    transition: all 0.5s;
}

/******HEADER*****/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.header-logo{
    height: 3rem; 
}

.header-list{
    display: flex;
    gap: 4rem;
    align-items: center;
    font-size: 1rem;
}

.nav-item{
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color: var(--text-primary);
}



/******MAIN******/
.main{
    height: 90vh;
    display: flex;
    padding: 4rem 10rem;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    border-bottom: var(--main-border-bottom)
}

.main-heading{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
}
.main-paragraph{
    font-size: 1.3rem;
    margin-top: 1rem;
}

.main-btn{
    font-size: 1rem;
    margin-top: 3rem;
    border: 0;
    background-color: var(--bg-color);
    padding: 1rem;
    color: var(--accent-color-light);
    border-bottom: solid 1px var(--accent-color-light);
    cursor: pointer;
}

.main-btn:hover{
    color: var(--text-primary);
    background-color: var(--accent-color-light);
}

.main-image-con{
    height: 75%;
    width: 50%;
}
.main-image{
    height:100%;
}

.feature-item{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 6rem;
    height: 40vh;
}

.feature-item-image-con{
    height: 100%;
    background-color: red;
}

.feature-item-image{
    height: 100%;
    width: 100%;
}

.feature-item-detail{
    /* background-color: green; */
    padding: 4rem;
    color: var(--text-primary);
}

.feature-icon{
    background-color: #f8961e31;
    padding: 1rem;
    border-radius: 50%;
    color: var(--accent-color-dark);
    /* opacity: 0.5; */
    font-size: 1rem;
    margin-bottom: 1.5rem;
    /* font-weight: 500; */
}

.feature-item-title{
    /* margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: 500; */
}

.feature-item-description, .testimonial-text{
    line-height: 1.3rem;
    font-size: 0.7rem;
    color: var(--text-primary);
    font-weight: 100;
}

.grow{
    order: -1;
}

/*OPERATIONS */
.operations{
    border-bottom: var(--main-border-bottom)
}

.operations-title-con{
    margin-bottom: 6rem;
}

.operations-detail{
    background-color: white;
    padding: 6rem 6rem 6rem 4rem;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1.4rem;
    position: relative;
}

.operations-detail-con{
    display: none;
}

.operations-description-con{
    margin-left: 3rem;
    padding-right: 6rem;
    font-size: 1rem;
    line-height: 1.7rem;
}

.operations-icon{
    background-color: #f8961e31;
    /* height: 2rem; */
    align-self: flex-start;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    color: var(--accent-color-dark);
    /* align-content: center; */
}

.operations-description-title{
    /* font-size: 1.2rem;
    margin-bottom: 1rem; */
}

.operations-btn-con{
    /* background-color: red; */
    position: absolute;
    width: 75%;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.operations-btn{
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border: 0;
    border-radius: 5rem;
    margin:0 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
    /* letter-spacing: 0.05rem; */
    /* flex-grow: 1; */
}

.btn-03{
    background-color:var(--accent-3);
}

.btn-02{
    background-color:var(--accent-2);
}

.btn-01{
    background-color: var(--accent-color-light);
}

.operation-number{
    font-weight: 600;
}

/* TESTIMONIAL */
.testimonial{
    position: relative;
}
.testimonial::before{
    content: '\201C';
    font-size: 9rem;
    position: absolute;
    top: 17rem;
    left: 16rem;
    color: var(--accent-color-light);
}

.testimonial-detail-con{
    display: flex;
    justify-content: space-between;
    margin-top: -3rem;
}

.testimonial-nav{
    align-self: center;
    border: 0;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.testimonial-detail{
    margin: 6rem;
}

.testimonial-text{
    font-size: 0.8rem;
    color: #666;
}

.testimonial-user-detail{
    margin-top: -4rem;
    margin-left: 9rem;
    display: flex;
    align-items: center;
}

.testimonial-info{
    margin-left:1rem;
}

.testimonial-image{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.testimonial-name{
    font-size: 1rem;
    font-weight: 400;
}
.testimonial-location{
    font-size: 0.7rem;
    font-weight: 100;
    color: #666;
}

/* DOT */
.dot{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 3rem;
    background-color: gray;
    margin: 3rem auto;

}

.toaction{
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding: 5rem 16rem;
    border-bottom:0.5px solid #444444;
}

.toaction p{
    font-size: 2.2rem;
    color: white;
    font-weight: 500;
    margin-bottom: 4rem;
}

.btn-toaction{
    padding: 1rem 3rem;
    font-size: 1.2rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: rgb(132, 130, 130);
}

footer nav{
    margin: 4rem 0 2rem 0;
}

footer ul{
    display: flex;

}

footer li{
    list-style: none;
    margin: 1rem;
}

footer a{
    text-decoration: none;
    color: rgb(143, 140, 140);
    font-size: 0.8rem;
}

.footer-icon{
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 3rem;
}

footer p{
    margin-bottom: 1rem;
}

footer p span{
    font-weight: 600;
}

/* dom manipulation */
.hidden{
    visibility: hidden;
    opacity: 0;
}

.operations-detail-active{
    display: flex;
}

.operation-btn-active{
    transform: translateY(-30%);
    transition: all 0.3s;
}